[submodule "catch2"]
	path = third_party/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "shard"]
	path = third_party/shard
	url = git@github.com:ikimol/shard.git
[submodule "imgui"]
	path = third_party/imgui/src
	url = git@github.com:ocornut/imgui.git
